h1 {
	color: rgb(77, 191, 213);
	background-color: rgb(200, 233, 210);
}

img {

	max-width: 600px;
}
div {
	border: 1px solid green;
}
h3 {
	color: rgb(89, 206, 135);
}
.cat {
	color: #4183c4;
}
.pink {
	color: rgb(255, 0, 255);
}